{% extends "base_generic.html" %}

{% block content %}

{% load crispy_forms_tags %}

<!--Register-->
<div class="container py-5">
	<h1 class="intro">Register</h1>
<div class = 'card text text-center container mt-3'>
	<div class = 'card-body'>
		<form method="POST">
			{% csrf_token %}
			{{ register_form|crispy }}
			<button class="btn-reg" type="submit">Register</button>
		</form>
		<p class="text-center">If you already have an account, <a href="/login">login</a> instead.</p>
	</div>
</div>
</div>


{% endblock %}

