{% extends "base_generic.html" %}

{% block content %}
     
  <nav class="navbar navbar-expand-sm bg-light justify-content-center navbar-light my-5">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/get_home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/log_a_dive">Log a Dive</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/get_logs">My Dive Log</a>
      </li>
      {% if user.is_staff %}
      <li class="nav-item">
        <a class="nav-link active" href="/diving_officer_home">Diving Officer</a>
      </li>
      {% endif %}
    </ul>
  </nav>
  <h2>All dives logged by your club</h2>
  <div class="container mt-3">        
    <table class="table-borderless table-hover table">
      <thead>
        <tr>
          <th>Username</th>
          <th>Date</th>
          <th>Location</th>
          <th>Depth</th>
          <th>Time</th>
          <th>Buddy</th>
          <th>Note</th>
        </tr>
      </thead>
      <tbody>
        {% for item in items %}
        <tr>
          <td>{{ item.username }}</td>
          <td>{{ item.date }}</td>
          <td>{{ item.location }}</td>
          <td>{{ item.depth }}</td>
          <td>{{ item.time }}</td>
          <td>{{ item.buddy }}</td>
          <td>{{ item.note }}</td>
        </tr>
      </tbody>
        {% endfor %}
    </table>
  </div>
  

  {% endblock %}