
{% extends "base_generic.html" %}
{% load static %}

{% block content %}


  <nav class="navbar navbar-expand-sm bg-light justify-content-center navbar-light my-5">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'get_home' %}">Home</a>
      </li>
      {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'log_a_dive' %}">Log a Dive</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'get_logs' %}">My Dive Log</a>
        </li>
        {% if user.is_staff %}
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'diving_officer_home' %}">Diving Officer</a>
        </li>
        {% endif %}
      {% endif %}
    </ul>
  </nav>
  <section class="callout text-center my-5">
    <h2 class="intro">A simpler way to manage your dive clubs logs!</h2>
      <p class="infpara">View divers and ther logged dives below</p>
  </section>

  <div class="row d-flex justify-content-around">
    <div class='card box col-12 col-md-4 mb-3 py-5'>
        <h3 class="textbox">View Divers Logs</h3>
        <p class="infpara">View all dives logged by divers in your club!</p>
        <a href="{% url 'get_club_logs' %}" class="btn btn-secondary button">
          View Club Logs
        </a>
    </div>
    <div class='card box col-12 col-md-4 mb-3 py-5'>
        <h3 class="textbox">View my Club Members</h3>
        <p class="infpara">View all members of my diving club!</p>
        <a href="{% url 'club_members' %}" class="btn btn-secondary button">
          View Club Members
        </a>
    </div>
  </div>

  <section>
    <div class="hero-container img-fluid">
        <div id="hero-images">
            <img src="{% static 'images/dusty4.jpeg' %}" alt="Diver with Dolphin" class="hero">
            <img src="{% static 'images/diver_ascending.jpg' %}" alt="Diver surfacing" class="hero">
            <img src="{% static 'images/jellyfish.jpeg' %}" alt="Jellyfish underwater" class="hero">
        </div>
    </div>
  </section>


{% endblock %}