{% extends "base_generic.html" %}

{% block content %}

  {% if user.is_authenticated %}
    <ul>
      <li>User: {{ user.get_username }}</li>
      <li><a href="{% url 'logout'%}">Logout</a></li>
  {% else %}
      <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
  {% endif %}
      </ul>
     
  <nav class="navbar navbar-expand-sm bg-light justify-content-center navbar-light my-5">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" href="/get_home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/log_a_dive">Log a Dive</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/get_logs">My Dive Log</a>
      </li>
    </ul>
  </nav>
<body>
    <h1>My Dive Log</h1>
    <h2>Edit a Logged Dive</h2>
    <form method ='POST'>
        {% csrf_token %}
        {{ form.as_p }}
            <p>
                <button>Update Dive</button>
            </p>
          
    </form>
    {% endblock %}