
{% extends "base_generic.html" %}

{% block content %}

  {% if user.is_authenticated %}
    <ul>
      <li>User: {{ user.get_username }}</li>
      <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
  {% else %}
      <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
  {% endif %}
      </ul>
     
  <nav class="navbar navbar-expand-sm bg-light justify-content-center navbar-light my-5">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" href="/get_home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/log_a_dive">Log a Dive</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/get_logs">My Dive Log</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Map?</a>
      </li>
    </ul>
  </nav>
  <section class="callout text-center my-5">
    <h2>A simpler way to log your dives on the go!</h2>
      <p>Record, view and edit your dives </p>
  </section>
  <div class="row">
    <div class="col-sm order-1 my-5">
      <h3>Log a dive</h3>
        <p>Get started by logging a dive</p>
        <a href = "/log_a_dive">
          <button>Log a Dive</button>
        </a>
    </div>
    <div class="col-sm order-2 my-5">
      <h3>View my Log</h3>
        <p>View your previously logged dives in your personal log</p>
        <a href = "/get_logs">
          <button>My Dive Log</button>
        </a>
    </div>    
  </div>

    
{% endblock %}