{% extends "base_generic.html" %}

{% block content %}
<div id="navbox">
  <nav class="navbar navbar-expand-sm bg-light justify-content-center navbar-light">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" href="/get_home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/log_a_dive">Log a Dive</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/get_logs">My Dive Log</a>
      </li>
      {% if user.is_staff %}
      <li class="nav-item">
        <a class="nav-link" href="/diving_officer_home">Diving Officer</a>
      </li>
      {% endif %}
    </ul>
  </nav>
</div>


  <section class="callout text-center my-5">
    <h2 class="intro">A simpler way to log your dives on the go!</h2>
      <p class="infpara">Record, view and edit your dives </p>
  </section>
    <div class="row">
      <div class = 'card text  container box' id="home-box">
      <div class="row col-sm order-1" id="buttonbox">
        <h3 class="textbox">Log a dive</h3>
          <p class="infpara">Get started by logging a dive</p>
          <a href = "/log_a_dive">
            <button>Log a Dive</button>
          </a>
      </div>
      </div>
      <div class = 'card text  container box' id="home-box">
      <div class="row col-sm order-2" id="buttonbox">
        <h3 class="textbox">View my Log</h3>
          <p class="infpara">View your previously logged dives in your personal log</p>
          <a href = "/get_logs">
            <button>My Dive Log</button>
          </a>

      </div>
      </div>
    </div>
    <section>
      <div class="hero-container img-fluid">
          <div id="hero-images">
              <img src="../static/images/dusty4.jpeg" alt="Diver with Dolphin" class="hero">
              <img src="../static/images/diver_ascending.jpg" alt="Diver surfacing" class="hero">
              <img src="../static/images/jellyfish.jpeg" alt="Jellyfish underwater" class="hero">
          </div>
      </div>
    </section>






{% endblock %}