{% extends "base_generic.html" %}

{% block content %}

<nav class="navbar navbar-expand-sm bg-light justify-content-center navbar-light my-5">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'get_home' %}">Home</a>
    </li>
    {% if request.user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'log_a_dive' %}">Log a Dive</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'get_logs' %}">My Dive Log</a>
      </li>
      {% if user.is_staff %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'diving_officer_home' %}">Diving Officer</a>
      </li>
      {% endif %}
    {% endif %}
  </ul>
</nav>
<h2 class="intro">Log a Dive</h2>
<div class='card text-center container mt-3 mx-auto box w-75' id="input-card">
  <form method='POST' action="{% url 'log_a_dive' %}" class='log-body'>
    {% csrf_token %}
    {{ form.as_p }}
    <div class="card-body">
      <button class="btn btn-secondary button">Log my Dive</button>
    </div>
  </form>
</div>

{% endblock %}