#title {
    color: teal;
    font-size: 5vw;
    padding-top: 0.5em;
    margin: 0;
    text-decoration: none !important;
    text-align: center;
}

.navbar-nav {
    align-content: space-evenly;

}

.form-inputs {
    max-width: 26em;
    display: inline-block;
    vertical-align: baseline;


}

/*Header image*/
#circle-container {
    width: 12vw;
    height: 12vw;
    padding: 1vw;
    border-style: solid;
    border-color: darkgrey;
    border-width: 0.5vw;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-image {
    background: url(images/icon.jpg) no-repeat center center;
    background-size: cover;
    height: 100%;
    border-radius: 50%;
}

#center-about {
    margin-bottom: 2vw;
    margin-top: 2vw;
}

.card {
    justify-content: center;
    text-align: center;
    width: 50%;

}
.card-body {
    justify-content: center;

}

.errorlist {
    list-style: none;
    display: none;
}

ul {
    list-style: none;

}

.nav-link {
    text-decoration: none;
}

#hero-images {
    clear: both;
    line-height: 0;
    column-gap: 0;
    width:100%;
    height: 26vw;
    margin-right: 0px;
    display: flex;
}

.hero {
    margin: 0;
    padding: 0;
    width: 33.33%;
    margin-left: 0;
}

/* Container holding the image and the text */
.hero-container {
    position: relative;
    margin-top: 1em;
}

/* Login functionality on top of display*/
.login_funct {
    list-style: none;
    text-align: justify;
    padding-top: 0em;
    padding-bottom: 0em;
    margin: 0em;
}

#login {
    font-weight: 600;
    font-size: medium;
    color: teal;
    padding: 0.2em;
}

#login:visited {
    color: gray;
  }

#login:hover {
    color: #006699;
  }

#navbox {
    padding-top: 1em;
}

.textbox {
    color: teal;
}

.intro {
    color:teal;
    font-size: 250%;
}

.infpara {
    font-size: 100%;
}

#buttonbox {
    margin-bottom: 2em;
    margin-top: 2em;
}

#loggedin {
    color: gray;
    font-weight: 600;
}

#cardbox {
    justify-content: right;
    text-align: center;
    margin-right: 0em;
    background-color: rebeccapurple;
}

#delete_funct {
    color: teal;
}

#divetable {
    margin-top: 2em;
    margin-bottom: 2em;
}

.table {
    justify-content: center;
}

#log-table {
    vertical-align: middle;
}