#title {
    color: teal;
    font-size: 300%;
    padding-top: 1em;
    margin: 0;
    text-decoration: none !important;
}

.navbar-nav {
    justify-content: space-around;

}

.form-inputs {
    max-width: 26em;
    display: inline-block;

}

/*Header image*/
#circle-container {
    width: 150px;
    height: 150px;
    padding: 10px;
    border-style: solid;
    border-color: darkgrey;
    border-width: 5px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-image {
    background: url(images/icon.jpg) no-repeat center center;
    background-size: cover;
    height: 100%;
    border-radius: 50%;
}

#center-about {
    margin-bottom: 20px;
    margin-top: 20px;
}

.card {
    justify-content: center;
    text-align: center;
    width: 50%;
    height: 12em;
}

.login_funct {
    list-style: none;
    text-align: right;
    color: hotpink;

}

.errorlist {
    list-style: none;
    display: none;
}

ul {
    list-style: none;

}

.nav-link {
    text-decoration: none;
}

.card {
    padding: 10em;
}

.grey-button {
    background-color: lightslategray;
}

#hero-images {
    clear: both;
    line-height: 0;
    column-gap: 0;
    width:100%;
    height: 35vw;
    margin-right: 0px;
    display: flex;
}

.hero {
    flex-direction: row;
    width: 33.333%;
    margin: 0;
    padding: 0;
    height: 35vw;
}

/* Container holding the image and the text */
.hero-container {
    position: relative;
    margin-top: 6em;
}
