{% extends "base.html" %}

    <h2>Logged Dives</h2>

    {% block content %}
    <div class="container mt-3">        
        <table class="table-borderless table-hover table">
            
          <thead>
            <tr>
              <th>Date</th>
              <th>Location</th>
              <th>Depth</th>
              <th>Time</th>
              <th>Buddy</th>
              <th>Note</th>
            </tr>
          </thead>
          <tbody>
            {% for item in items %}
            <tr>
              <td>{{ item.date }}</td>
              <td>{{ item.location }}</td>
              <td>{{ item.depth }}</td>
              <td>{{ item.time }}</td>
              <td>{{ item.buddy }}</td>
              <td>{{ item.note }}</td>
            </tr>
          </tbody>
          {% endfor %}
        </table>
      </div>
  
    <a href = "/log_a_dive">
        <button>Log a Dive</button>
    </a>
{% endblock content %}  