<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>My Dive Log</h1>

    <table>
        {% for item in items %}
            <tr>
                <td>{{ item.date }}</td>
                <td>{{ item.location }}</td>
                <td>{{ item.depth }}</td>
                <td>{{ item.time }}</td>
                <td>{{ item.buddy }}</td>
                <td>{{ item.note }}</td>
            </tr>
        {% endfor %}
    </table>

</body>
</html>